In [1]:
import os
import mysql.connector

In [2]:
db = mysql.connector.connect(
  host="localhost",
  user="root",
  password="735808",
  port=3306,
  database="meta"
)

In [3]:
def execute_sql(command):
    cursor = db.cursor()
    cursor.execute(command)
    result = cursor.fetchall()
    return result

In [ ]:
def get_players(team_id):
    return execute_sql(f"SELECT * FROM players WHERE team_id = {team_id} ORDER BY position;")

In [4]:
execute_sql("DESCRIBE matches;")

[('match_date', 'datetime', 'NO', '', 'now()', 'DEFAULT_GENERATED'),
 ('match_id', 'int', 'NO', 'PRI', None, ''),
 ('player_id', 'int', 'NO', 'PRI', None, ''),
 ('team_id', 'int', 'NO', 'MUL', None, ''),
 ('position', 'tinyint', 'YES', '', None, ''),
 ('opponent_team_id', 'int', 'NO', '', None, ''),
 ('performance', 'float', 'NO', '', None, '')]

In [5]:
import matplotlib.pyplot as plt
import numpy as np

In [6]:
def play_match(team_1_id, team_2_id):
    if (team_1_id != team_2_id):
        match_id = execute_sql(f"SELECT MAX(match_id) FROM matches;")[0][0]

        if match_id is None:
            match_id = 1
        else:
            match_id = match_id + 1

        team_1 = execute_sql(f"SELECT id FROM players WHERE team_id = {team_1_id} ORDER BY position;")
        team_2 = execute_sql(f"SELECT id FROM players WHERE team_id = {team_2_id} ORDER BY position;")

        score_1 = np.random.rand(5)
        score_2 = np.random.rand(5)

        # team_1_result = 0
        # team_2_result = 0

        # if (np.sum(score_1) > np.sum(score_2)):
        #     team_1_result = 1

        # elif (np.sum(score_1) < np.sum(score_2)):
        #     team_2_result = 1

        # else:
        #     team_1_result = 0.5
        #     team_2_result = 0.5

        for i in range(5):
            execute_sql(f"INSERT INTO matches (match_id, player_id, team_id, opponent_team_id, performance) VALUES({match_id}, {team_1[i][0]}, {team_1_id}, {team_2_id}, {score_1[i]});")
            execute_sql(f"INSERT INTO matches (match_id, player_id, team_id, opponent_team_id, performance) VALUES({match_id}, {team_2[i][0]}, {team_2_id}, {team_1_id}, {score_2[i]});")

In [13]:
play_match(14, 29)

In [14]:
execute_sql("SELECT * FROM matches;")

[(datetime.datetime(2023, 11, 19, 3, 21, 4), 1, 41, 7, 2, 14, 40.0),
 (datetime.datetime(2023, 11, 19, 3, 21, 4), 1, 51, 14, 1, 7, 87.0),
 (datetime.datetime(2023, 11, 19, 3, 21, 4), 1, 55, 7, 3, 14, 23.0),
 (datetime.datetime(2023, 11, 19, 3, 21, 4), 1, 101, 14, 2, 7, 14.0),
 (datetime.datetime(2023, 11, 19, 3, 21, 4), 1, 149, 14, 4, 7, 39.0),
 (datetime.datetime(2023, 11, 19, 3, 21, 4), 1, 205, 14, 5, 7, 39.0),
 (datetime.datetime(2023, 11, 19, 3, 21, 4), 1, 218, 7, 5, 14, 13.0),
 (datetime.datetime(2023, 11, 19, 3, 21, 4), 1, 264, 14, 3, 7, 40.0),
 (datetime.datetime(2023, 11, 19, 3, 21, 4), 1, 304, 7, 1, 14, 6.0),
 (datetime.datetime(2023, 11, 19, 3, 21, 4), 1, 347, 7, 4, 14, 26.0),
 (datetime.datetime(2024, 3, 1, 1, 29, 45), 2, 51, 14, None, 29, 0.552885),
 (datetime.datetime(2024, 3, 1, 1, 29, 46), 2, 57, 29, None, 14, 0.37621),
 (datetime.datetime(2024, 3, 1, 1, 29, 46), 2, 101, 14, None, 29, 0.566556),
 (datetime.datetime(2024, 3, 1, 1, 29, 46), 2, 102, 29, None, 14, 0.366731),
 (datetime.datetime(2024, 3, 1, 1, 29, 46), 2, 149, 14, None, 29, 0.581575),
 (datetime.datetime(2024, 3, 1, 1, 29, 46), 2, 163, 29, None, 14, 0.78236),
 (datetime.datetime(2024, 3, 1, 1, 29, 46), 2, 205, 14, None, 29, 0.765286),
 (datetime.datetime(2024, 3, 1, 1, 29, 46), 2, 225, 29, None, 14, 0.996399),
 (datetime.datetime(2024, 3, 1, 1, 29, 46), 2, 264, 14, None, 29, 0.362748),
 (datetime.datetime(2024, 3, 1, 1, 29, 46), 2, 618, 29, None, 14, 0.80094),
 (datetime.datetime(2024, 3, 1, 1, 29, 57), 3, 51, 14, None, 29, 0.442795),
 (datetime.datetime(2024, 3, 1, 1, 29, 57), 3, 57, 29, None, 14, 0.24758),
 (datetime.datetime(2024, 3, 1, 1, 29, 57), 3, 101, 14, None, 29, 0.900731),
 (datetime.datetime(2024, 3, 1, 1, 29, 57), 3, 102, 29, None, 14, 0.653474),
 (datetime.datetime(2024, 3, 1, 1, 29, 57), 3, 149, 14, None, 29, 0.308478),
 (datetime.datetime(2024, 3, 1, 1, 29, 57), 3, 163, 29, None, 14, 0.511079),
 (datetime.datetime(2024, 3, 1, 1, 29, 57), 3, 205, 14, None, 29, 0.00773251),
 (datetime.datetime(2024, 3, 1, 1, 29, 57), 3, 225, 29, None, 14, 0.380974),
 (datetime.datetime(2024, 3, 1, 1, 29, 57), 3, 264, 14, None, 29, 0.412516),
 (datetime.datetime(2024, 3, 1, 1, 29, 57), 3, 618, 29, None, 14, 0.985578),
 (datetime.datetime(2024, 3, 1, 1, 30, 2), 4, 51, 14, None, 29, 0.385348),
 (datetime.datetime(2024, 3, 1, 1, 30, 2), 4, 57, 29, None, 14, 0.811449),
 (datetime.datetime(2024, 3, 1, 1, 30, 2), 4, 101, 14, None, 29, 0.702521),
 (datetime.datetime(2024, 3, 1, 1, 30, 2), 4, 102, 29, None, 14, 0.562695),
 (datetime.datetime(2024, 3, 1, 1, 30, 2), 4, 149, 14, None, 29, 0.640499),
 (datetime.datetime(2024, 3, 1, 1, 30, 2), 4, 163, 29, None, 14, 0.752859),
 (datetime.datetime(2024, 3, 1, 1, 30, 2), 4, 205, 14, None, 29, 0.0498051),
 (datetime.datetime(2024, 3, 1, 1, 30, 2), 4, 225, 29, None, 14, 0.233367),
 (datetime.datetime(2024, 3, 1, 1, 30, 2), 4, 264, 14, None, 29, 0.480984),
 (datetime.datetime(2024, 3, 1, 1, 30, 2), 4, 618, 29, None, 14, 0.590969)]